body, html {
  height: 100%;
  background-color: #FAFAFA;
  font-family: 'Roboto', sans-serif;
}

footer {
  margin-top: 10px;
  text-align: center;
}

body {
  padding: 0 17%;
}

header h1, header small {
  display: inherit;
  text-align: center;
}
header h1 {
  margin-bottom: 4px;
}
header small {
  margin-bottom: 10px;
}

#trace {
  display: flex;
  vertical-align: top;
}
#trace > .card {
  margin: 0;
  width: 100%;
}
#trace #stack {
  display: flex;
  flex-direction: column-reverse;
  width: 195px;
  text-align: center;
  word-wrap: break-word;
}
#trace #stack > div {
  padding: 5px;
  margin: 5px;
  border: 1px dashed #DDD;
}

a .fa {
  color: black;
}
a:focus .fa-github, a:hover .fa-github {
  color: #26292E;
}
a:focus .fa-youtube, a:hover .fa-youtube {
  color: #E01716;
}

.group {
  position: relative;
}
.group:not(:first-of-type) {
  margin-top: 50px;
}

.card {
  background-color: white;
  padding: 25px;
  margin: 30px 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, .2);
  border-radius: 3px;
}

.card h2 {
  margin-top: 5px;
  margin-bottom: 40px;
}

input[type=password] {
  border: none;
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
}
input:focus { outline:none; }

label {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.bar 	{ position:relative; display:block; width: 100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width: 0;
  bottom:1px;
  position:absolute;
  background: #E3942B;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left: 15px;
}
.bar:after {
  right: 0;
}

input:focus ~ .bar:before, input:focus ~ .bar:after, #result .group input ~ .bar:before, #result .group input ~ .bar:after {
  width: 100%;
}

input:focus ~ label, input:valid ~ label, #result .group input ~ label, #result .group input ~ label {
  top:-20px;
  font-size:14px;
  color: #E3942B;
}

.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

.btn {
  position: relative;

  display: inline-block;
  margin: 30px auto;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .4);

  background-color: #E3942B;
  color: #ecf0f1;

  transition: background-color .3s;
  cursor: pointer;

  text-transform: uppercase;
}

.btn:hover, .btn:focus {
  background-color: #FFA630;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
  font-size: 1.1em;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, .3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width .2s ease-out, padding-top .2s ease-out;
}

.btn.red {
  background-color: #F03434;
}
.btn.red:hover, .btn.red:focus {
  background-color: #CF000F;
}

#faq h1 {
  margin-top: 0;
}

#faq p {
  line-height: 25px;
}

#faq ul li {
  line-height: 25px;
}

.center {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#donation {
  margin-top: 10px;
}
#copyright {
  margin-top: 30px;
}

@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
