body, html {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: white;
}

h1 {
  font-size: 3em;
  color: white;
}

label {
  display: block;
  margin-bottom: 10px;
}

#main {
  margin-top: 125px;
  padding-left: 105px;
  padding-right: 105px;
}

#profile {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 65%;

  margin: 0 auto;
  margin-bottom: 15px;

  background-image: url('./assets/img/blocs.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.3);

  transition: all 0.18s ease-in;
}

#desc {
  width: 65%;
  margin: 0 auto;
  line-height: 26px;
}

.project {
  text-align: left;
}

#profile:hover {
  box-shadow: 4px 5px 18px rgba(0, 0, 0, 0.8);
}

#projects {
  padding: 15px 0;
}

#particles-js {
  position: fixed;
  background-color: #2A3769;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

#donations {
  margin-bottom: 80px;
}

select, textarea, input, button {
  display: block;
  width: 100%;
  height: 25px;
  min-height: 25px;
}

input, select, textarea {
  margin-bottom: 20px;
}

#alert {
  padding: 10px 0;
  line-height: 25px;
}

.address {
  word-wrap: break-word;
}

#alert.success {
  color: #2B63FF;
}
#alert.failed {
  color: #D73B15;
}

button[type=submit] {
  -webkit-appearance: default-button;
  height: 40px;
  margin-top: 25px;
  padding: 5px;
  font-size: 1.1em;
  color: white;
  background-color: #275AE8;
  border: none;
}
button[type=submit]:hover {
  cursor: pointer;
  background-color: #2B63FF;
}

textarea {
  display: block;
  resize: vertical;
}

.no-margin-top {
  margin-top: 0;
}

.addresses {
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-radius: 7px;
}
.addresses h2 {
  text-align: center;
  margin: 0;
}

a {
  color: white;
}

a .fa {
  color: white;
}
a:focus .fa-github, a:hover .fa-github {
  color: #26292E;
}
a:focus .fa-youtube, a:hover .fa-youtube {
  color: #E01716;
}

footer {
  width: 100%;
  bottom: 0;
  padding: 30px 0;
  text-align: center;
  color: white;
}

#copyright {
  margin-top: 15px;
}
